.DDW_ResultOnlyTimes{
    font-size: 1em;

    textarea{
        font-size: .9em;
        width: calc(100% - 2.1em);

        min-height: 7em;

        color: #000000;
        padding: 1em 1em;
        resize: vertical;
        white-space: pre-wrap;
    }

    >input{
        line-height: 1.4em;
        text-align: center;
        margin: 0.5em 0;
    }


}

