.programSystemName{
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    

    span{
        font-size: 0.65em;
        padding: 0.2em 0.6em;
        // background-color: #fffcfc24;
        color: #b8b6b6;
        font-family: "Roboto Slab Regular";
        // font-family: 'Courier New', Courier, monospace;

        // font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    }
}