.PRL_ItemMovie2{
    font-size: 1em;
    margin: 0.3em 0.6em;
    padding: 0.1em 0.2em;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    
    background-color: #ffffff85;
    border-radius: 0.1em 0.1em 0 0;

    
}