.appearanceOfASingleGridEvent{
    font-size: 1em;
    margin: 0.5em;
    padding: 0.5em 1em;
    background-color: #ededed;

    display: flex;
    justify-content: flex-start;

    padding: 0.3em 0.7em;
    border-radius: 0.1em;
    
}