.DDW_ResultColsDateAndTime{
    font-size: 1em;

    textarea{
        font-size: .9em;
        width: calc(100% - 2.1em);

        min-height: 8em;
        margin-bottom: 2em;

        color: #000000;
        padding: 1em 1em;
        resize: vertical;
        white-space: pre-wrap;
    }


}
