.menuItemLeft{
    font-size: 1em;

    text-decoration: none;
    margin: 0 0.3em;
    padding: 0.14em 0.6em;
    // background-color: #343434;
    // background-color: #1a87712b;
    background-color: #189ab776;


    border-radius: 0.1em;

    flex-grow: 0;

    span{
        font-size: 0.9em;
        color: #c0c0c0;
    }


    .TMIL_icon{

    }
    .TMIL_title{
        // font-size: 0.9em;
        // color: #c0c0c0;
        // font-family:  Courier;
        // font-family:  Pragmatica;
        // font-family: a_FuturaRound;
        font-family: "Journal Cyrillic";


        

    }
}

.menuItemLeft.isActive{
    // background-color: #1a8772d6;
    // background-color: #18b781d6;
    background-color: #1899b7d6;


    // #1899b7d6

    span{
        color: #e4e3e3;
    }

}
.menuItemLeft:hover{
    // background-color: #1a8772;
    background-color: #189ab7f9;
    span{
        color: #fcfcfc;
    }
}


