.menuItemLeft{
    font-size: 1em;

    text-decoration: none;
    margin: 0 0.8em;
    padding: 0.2em 0.9em;
    background-color: #343434;

    flex-grow: 0;


    .TMIL_icon{

    }
    .TMIL_title{
        font-size: 0.9em;
        color: #c0c0c0;

    }
}