.ANApplContainer{
    font-size: 1em;
    padding: 1em 0.5em;

    .ANAppl_name{
        font-size: 1em;
        margin: 1em 0.5em;
        h4{
            font-size: 0.8em;
            margin: 0.3em 1em;
            color: #535252;
        }
        input{
            font-size: 0.8em;
            line-height: 1.4em;
            color: #636363;
            background-color: #ffffff;
            outline: none;
            border: 1px solid #e1e1e1;
            border-radius: 0.1em;
            padding: 0.2em 1em;
            width: calc(100% - 2em);
        }
        .error{
            font-size: .75em;
            color: #9d2c2c;
            line-height: 1.4em;
            padding: .5em 1em;
            text-indent: 1em;

        }
    }

    .ANAppl_type{
        font-size: 1em;
        margin: 1em 0.5em;
        
        h4{
            font-size: 0.8em;
            margin: 0.3em 1em;
            color: #535252;
        }

        .ANAppl_type_btn_wrap{
            font-size: 1em;

            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 0.5em;

            span{
                font-size: 0.8em;
                text-align: center;
                width: 10em;
                border: 1px solid #3260cb;
                border-radius: 0.1em;
                padding: 0.3em 1em;
                color: #3260cb;
                margin: 0 1em;
                cursor: pointer;
                user-select: none;

            }

            span:hover{
                background-color: #3260cb;
                color: #ffffff;

            }

            span.isActive{
                background-color: #3260cb;
                color: #ffffff;
            }
        }
    }
    .ANAppl_CreateButton_wrap{

        font-size:  1em;
        display: flex;
        justify-content: center;
        padding: 1em 0;

        .ANAppl_CreateButton{
            font-size: 0.9em;
            margin: 1em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 0.45em 0.8em 0.4em 0.8em;
            background-color: #8d7c7c;
            border-radius: 0.1em;
            
            width: 7em;
            opacity: 0.2;

            span{
                font-size: 0.8em;
                color: #ffffff;

            }

            .value{
                font-family: Arial, sans-serif;
            }

        }

        .ANAppl_CreateButton.isActive{
            opacity: 1;
            cursor: pointer;
            user-select: none;
        }

        .ANAppl_CreateButton.isActive:hover{
            background-color: #7e6565;
        }

        .ANAppl_CreateButton.isActive:active{
            span{
                color: #c7c7c7;
            }
        }

    }

}